<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOTECH</title>
</head>
<body>
<nav class="navbar bg-info navbar-expand-lg navbar-light ">
    <div class="px-7">
    <a href="#" class="navbar-brand">
        <img src="static/images/Logo.jpeg" alt="" class="rounded-circle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#safari">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div id="safari" class="collapse navbar-collapse">
        <ul class="navbar-nav fw-bold fs-1">
            <li class="nav-item">
                <a href="index.html" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item ">
                <a href="about_us.html" class="nav-link text-white">About Us</a>
            </li>
            <li class="nav-item ">
                <a href="services.html" class="nav-link text-white">Services</a>
            </li>
            <li class="nav-item ">
                <a href="Contact.html" class="nav-link text-white">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>