{% extends "base.html" %}
{% load static %}
{% block title %}About Us {%endblock%}
{% block content%}

<div class="text-center  p-3 my-3 shadow">
        <h1 >About Us</h1>
     <h2 class="text-danger">Our Mission</h2>
      <p>ECOTECH aims to produce high quality engineering design in concept, in detail and in execution, on time, to program and delivering excellent value for money.</p>     
    </div>
    <div class="p-3 my-3 shadow">
        <h2 class="text-center text-danger">Our Services</h2>
        <ul>
            <ol >
            <li>Architecture</li>  
            <li>Infrastructure</li>
            <li>Energy & Power</li>
            <li>Cyber Security</li>
            <li>Environmental</li>
            <li>Water & Wastewater</li>
            <li>Program & Project Management</li>
            </ol>
        </ul>
    </div>
    <div class="p-3 my-3 shadow ">
        <h2 class="text-center text-danger">Partners</h2>
        <ol>
            <li>The World Bank</li>
            <li>Qatar Fund For Development</li>
            <li> USAID</li>
            <li> UNOPS</li>
            <li> DFIS</li>
        </ol>
    </div>
    
{%endblock%}
