{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us {%endblock%}
{% block content%}


 <div class="container-fluid  p-3">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center lead">Feel free to reach out to us with any questions or feedback with our email</p>
 </div>
 <div class="container">
    <div class="row">
        <!-- column -->
         <div class="col-md-6 my-4 h-100">  
            <div class="bg-light border shadow rounded p-3">
                <h2 class="text-center">Send us a message</h2>
                <form > 
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name:</label>
                        <input type="text" id="name" class="form-control " placeholder="Enter your full name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address:</label>
                        <input type="email" id="email" class="form-control" placeholder="Enter your email address">
                    </div>
                    <div>
                        <label for="message" class="form-label">Message:</label>
                        <textarea id="message" class="form-control" rows="4" placeholder="Enter your message here"></textarea>
                    </div><br><br>
                    <button type="submit" class="btn btn-success w-100">Send Message</button>
                </form>

            </div>

         </div>
         <!-- column2 -->
          <div class="col-md-6 my-4 h-100">
            <div class="bg-light border shadow rounded p-3">
                <h2 class="text-center">Visit our Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.805235289499!2d36.81905777548504!3d-1.2911990986965218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d92dbbfec1%3A0x898a45509c4d4f9e!2sEcotech%20Ltd!5e0!3m2!1sen!2ske!4v1771414439299!5m2!1sen!2ske" width="500" height="395" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div> 
    </div>
 </div>
 {%endblock%}