{% extends "base.html" %}
{% load static %}
{% block title %}Home {%endblock%}
{% block content%}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/1.jpeg' %}"class="d-block w-100 myimage">
      <div class="carousel-caption d-none d-md-block text-dark bg-light bg-opacity-50 rounded">
        <h5>The Engineering Management and Development Consultants</h5>
        <p>We Design Plan and Manage projects</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.jpeg' %}" class="d-block w-100 myimage" >
      <div class="carousel-caption d-none d-md-block text-dark bg-light bg-opacity-50 rounded">
        <h5>Architecture</h5>
        <p>Ecotech Architecture reflects our knowledge of how people and organisations use and experience place and space</p>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="{% static 'images/2.jpeg' %}" class="d-block w-100 myimage" >
      <div class="carousel-caption d-none d-md-block text-dark bg-light bg-opacity-50 rounded">
        <h5>Envionmental</h5>
        <p>We are focused on the delivery of sustainable environmental solutions to our clients  </p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- info -->
<div class=" container text-center my-3 shadow p-3">
<h1 class="">What is Ecotech?</h1>
<p>
Ecotech Ltd is a multi-disciplinary consultancy frm supplying high-value consultancy, engineering, environmental and project management services for the built and natural environments using industry best practices.
</p>
</div>



<!-- intro -->

<div class="container my-3">
     <h1 class="text-center "> About Us</h1>
  <!-- row -->
  <div class="row m-1" >
    <!-- column -->
    <div class="col-md-4 shadow p-3">
      <h2 >Our Vision</h2>
      <p>ECOTECH will create a lasting legacy that improves the lives of people and communities internationally. We also want to improve public services so that people can actually see and feel the difference every day.</p>
      <a href="{% url 'about_us' %}" class="btn btn-success">Learn More</a>
    </div>
    <!-- column -->
     <div class="col-md-4  shadow p-3" >
      <h2>Our Mission</h2>
      <p>ECOTECH aims to produce high quality engineering design in concept, in detail and in execution, on time, to program and delivering excellent value for money.</p>     
    </div>
     <!-- column -->
    <div class="col-md-4 shadow p-3 " >
      <h2>Contact Us</h2>
      <p>Get in touch with us through our Email: info@ecotech-ea.com</p>
    </div>
  </div>
</div>

{%endblock%}





