{% extends "base.html" %}
{% load static %}
{% block title %}Services {%endblock%}
{% block content%}
<div class="container">
    <h2 class="text-center">Our Services</h2>

    <!-- row -->
    <div class="row">
        <!-- column -->
        <div class="col-md-4 d-flex">
            <div class="card h-110">
                <img src="{%static 'images/Architech.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Architecture</h5>
                    <p class="card-text">
                        Ecotech Architecture reflects our knowledge of how people and organisations use and experience place and space
                    </p>
                </div>
            </div>
        </div>

        <!-- column -->
        <div class="col-md-4 d-flex">
            <div class="card h-110">
                <img src="{% static 'images/Program.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-secondary">Program and Project Management</h5>
                    <p class="card-text">
                    We Design Plan and Manage projects
                    </p>
                </div>
            </div>
        </div>

        <!-- column -->
        <div class="col-md-4 d-flex">
            <div class="card h-110">
                <img src="{%static 'images/Environmental.jpg'%}" alt="" class="card-img-top">
                <div class="card-body"><br/><br/><br/>
                    <h5 class="card-title text-secondary">Environmental</h5>
                    <p class="card-text">
                        We are focused on the delivery of sustainable environmental solutions to our clients 
                    </p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
